<input type="text" [(ngModel)]="title" name="nombre">
{{title}}

<div *ngIf="title=='nicolas'">
  esto es un div
</div>

<button (click)="onClick()">Agregar</button>

<ul>
  <li *ngIf="nombres.length==0">No hay Elementos a Mostrar</li>
  <li *ngFor="let nombre of nombres; index as i">
    {{nombre}} esta en la posiciòn: {{i+1}}
    <button (click)="deleteItem(i)">Remover</button>
  </li>
</ul>

<div class="productList">
  <app-product *ngFor="let producto of products" 
    [producto]="producto" (productoClicked)="productoRecibido($event)">
  </app-product>
</div>
